<!DOCTYPE html>
<head>
  <title>Sudarshan portfolio</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="{{url_for('static',filename='portfolio.css')}}">
</head>
<body>
   <div class="aimg">
<img src="/static/im1.jpg" class='im1'>
<div class="itsme">
<h2 class='me'>Hai there i am SUDARSHAN</h2>
</div>
</div>
   <div class="cont">
        <h2><ul>1.LINE FOLLOWER:</ul></h2>
        <img src='/static/lfr.jpg'  id="lfr" >
          <div class="lfrinfo">
            <p>   Arduino based IOT project using IR sensor <br> Modules a black path is followed using an effective algorithm</p>
          </div>
          <hr>
          <h2><ul>2.ADULT CENSUS INCOME PREDICTION:</ul></h2>
          <div class='acip'>
      <img src='/static/acip.png' id="acip">
      <div class="acipinfo">
        <p>   Machine learning model based project using KNN classifier deployed using dvc,github action and heroku.
link for deployed app: https://acipwithdvc.herokuapp.com</p>

      </div>
      <hr>
      <h2><ul>3.AYUSH BHARAT MEDICINE TRACKER:</ul></h2>
      <img src='/static/medtrack.png' id='medtrack'>
      <p>   Web page used for checking availability of medicines around us and to check for Duplication. It is designed using HTML, CSS and PHP connected using XAMP local server.
Youtube link: https://youtu.be/cxeZzC8BX3g</p>
<hr>
<h2><ul>4.Covid-19 python chat bot</ul></h2>
<img src='/static/chatbot.png' id='chatbot'>
<p>A symple python project for demonstration of server and client connection run on ubuntu.</p>
<hr>
<h2><ul>5.Maze Runner:</ul></h2>
<p>Arduino based IOT project using Line Follower bot designed will find shortest path in a maze where program is designed using linked list in c.</p>
<hr>
<h2><ul>6.Covid-19 Report System:</ul></h2>
<p>It is a program used add COVID Patients details. UI is designed using python TKINTER and connected to MYSQL database using MYSQL connector.</p>
      <div>

   </div>
</body>
